h1{display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;}
div{
  background-color:#ff0012;
  height:100px;
  width:55px;
}
ul{
  width:auto;
  float: right;
  margin-top: 9px:
}
